body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.login-body {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("img3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.login-container {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(8px);

    padding: 40px;
    border-radius: 15px;

    text-align: center;
    color: white;

    box-shadow: 0 0 20px rgba(255, 0, 0, 0.6);
}

input {
    width: 250px;
    padding: 10px;

    border: none;
    border-radius: 8px;

    outline: none;
}

button {
    width: 100%;
    padding: 10px;

    border: none;
    border-radius: 8px;

    background: linear-gradient(45deg, red, orange);
    color: white;
    font-weight: bold;

    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
    background: linear-gradient(45deg, orange, red);
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    color: red;
}

h2 {
    color: #ffcc00;
}

